<div class="bootstrap">
  <div class="loadingPanel">
    <h1>COVID19 TRACKER by Yogh</h1>
    <div class="par">
      <p>De applicatie wordt geladen..</p>
      <img src="/res/loading.gif" width="24" />
    </div>
  </div>
</div>

<style scoped lang="scss">
.bootstrap {
  font-family: Roboto;
  flex-grow: 1;
  min-height: 800px;
  background: radial-gradient(#8888 15%, transparent 16%) 0px 0px / 16px 16px, rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center; 
  
  .loadingPanel {
    padding : 20px 50px;
    color: white;
    background: gray;
    border-radius: 5px;
    
    .par {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
</style>
