<div class="container">
  <div class="content">
    <h2></h2>
    <h2>Actualisatie</h2>
    <p>Gegevens worden dagelijks rond 15:15-15:30 geactualiseerd (de web applicatie ligt er rond die tijd een minuutje uit).</p>
    <h2>Accreditatie</h2>
    <p class="line">
      Data: <a class="mid" target="_blank"
        href="https://www.rivm.nl/coronavirus-covid-19/actueel">RIVM</a>
    </p>
    <p class="line">
      Applicatie: <a class="mid" target="_blank" href="http://yogh.nl">yogh.nl</a>
    </p>

    <h2>Notities</h2>
    <h3>Interpolatie</h3>
    <blockquote>Tussen 31 maart en 8 april heeft het RIVM geen positieve gevallen per gemeente gepubliceerd, deze data is retrospectievelijk
      geïnterpoleerd.</blockquote>
      <h3>Schattingen</h3>
    <blockquote>De rubriek 'actieve gevallen' bestaat uit (zeer) ruwe schattingen. De schatting is gemaakt op basis van
      de cumulatieve rubriek. Voor de schatting worden nieuwe gevallen na 14 dagen verwijderd. Deze getallen reflecteren slechts grosso modo de werkelijkheid.</blockquote>
      
    <h3>Update 2021-07-24</h3>
    <p>De applicatie begint erg traag te worden naarmate de dagelijkse gegevens van de afgelopen bijna 1.5 jaar zich ophopen. Hierdoor is gekozen om wanneer de applicatie wordt gestart, alleen de meest recente 50 dagen te laten zien. Voor de dataset 'actieve gevallen' zal dit 36 dagen zijn (doordat deze dataset de voormalige 14 dagen aan data gebruikt voor het optelsommetje)</p>
    <p>Er is een knop 'laad alle datasets in' bijgekomen welke alles inlaadt, echter zal dit ervoor zorgen dat de applicatie een tijdje blijft hangen terwijl de boel wordt binnengehaald, geindexeerd, en opgeteld.</p>
    <p>Ter info, de datasets worden regelmatig gebackupped op GitLab: <a href="https://gitlab.com/yogh/gwt-covid19/-/tree/master/scripts/conf/cases">https://gitlab.com/yogh/gwt-covid19/-/tree/master/scripts/conf/cases</a></p>
    <p>Daar is ook de broncode van deze applicatie beschikbaar.</p>

    <h3>2021-11-01 - Segregatie en demonisatie</h3>
    <p>De nieuwe reeks van maatregelen die vandaag zijn aangekondigd verdiept de medische segregatie en demonisatie van grote delen van de samenleving die is gestart met de invoer van het coronapaspoort in Nederland. Deze website en applicatie keurt deze ontwikkelingen af, de onvrijwillige segregatie van een samenleving door een overheid is nooit een oplossing voor welk probleem dan ook. Men zou hopen dat de geschiedenis dit ons geleerd heeft, maar helaas lijkt het erop dat de tijd, gepaard met de schijn van noodzaak, deze les in schrikbarend tempo kan omkeren. Bied weerstand tegen de QR samenleving en accepteer dit niet.</p>   
  </div>
</div>

<style scoped lang="scss">
.container {
  width: 100%;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center; 
  
  .content {
    overflow: auto;
    box-shadow : 0px 0px 5px gray;
    padding: 20px;
    background: white;
    max-width: 900px;
    flex-grow: 1;
  }
}
</style>