<div class="main">
  <app-header :eventBus="eventBus" class="header"></app-header>
  <app-navigation :eventBus="eventBus" class="navigation" />
  <div class="content">
    <keep-alive>
      <slot></slot>
    </keep-alive>
  </div>
  <!-- 
  <w:NotificationPanel styleName="{style.notificationAbsolute}" ui:field="notificationPanel" />
   -->
</div>

<style scoped lang="scss">
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header"
                       "navigation"
                       "content";
  flex-grow: 1;
  min-height: 100vh;
  min-height: -webkit-fill-available;
    
  .header {
    grid-area: header;
  }
  
  .navigation {
    grid-area: navigation;
  }
  
  .content {
    grid-area: content;
    display: flex;
    overflow: hidden;
  }
}

/* Don't consider viewport height on mobile + chrome, which is android hopefully */
@supports (-webkit-appearance:none) {
  @media (max-width: 800px) {
    .main {
      height: calc(100vh - 56px);
    }
  }
}

/** For screens larger than 800px **/
@media (min-width: 800px) {
  .main {
    grid-template-columns: auto minmax(600px, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header"
                         "navigation .";
                         
   .content {
     grid-column: 1/3;
     grid-row: 2;
   }
  }
}
</style>
