<vue-gwt:import class="nl.yogh.gwt.wui.covid.context.VirusContext.DataType" />

<div class="header" :style='map(e("color", textColor), e("background", backgroundColor))'>
  <!-- 
  <div class="left">
    <mat-icon class="menu" @click="toggleMenu()">menu</mat-icon>
    <h2 class="pageTitle">{{ pageTitle }}</h2>
  </div>
   -->
  <div style="display:flex;align-items:center;">
    <mat-icon @click="popupMenu()" class="icon">menu</mat-icon>
    <h2 class="siteTitle" @click="clear()">{{ i18n.siteTitle() }}</h2>
  </div>
  <div style="display:flex;align-items:center;">
    <p v-if="showStylingType && type == DataType.CUMULATIVE_CASES">Aantal gevallen</p>
    <p v-if="showStylingType && type == DataType.ACTIVE_CASES">Actieve gevallen</p>
    <p v-if="showStylingType && type == DataType.CUMULATIVE_HOSPITALISATIONS">Totale ziekenhuisopnames</p>
    <p v-if="showStylingType && type == DataType.ACTIVE_HOSPITALISATIONS">Huidige ziekenhuisopnames</p>
    <p v-if="showStylingType && type == DataType.CUMULATIVE_FATALITIES">Overleden</p>
    <mat-icon @click="popupPalette()" class="icon">all_inbox</mat-icon>
    <mat-icon @click="popupSettings()" class="icon">assignment</mat-icon>
  </div>
</div>

<style scoped lang="scss">
.icon {
  user-select: none;
  cursor: pointer;
  padding: 8px;
  margin: 0px 3px;
  
  border-radius: 50px;
  background: rgba(255,255,255,0);
  
  transition: background 0.15s ease-out, color 0.15s ease-out;
  
  &:hover {
    background: rgba(255,255,255,0.8);
    color: #222a;
  }
  &:active {
    background: rgba(255,255,255,0.9);
    color: #222a;
  }
}

.header {
  transition: background 0.35s ease-out, color 0.35s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .left {
    display : flex;
    align-items: center;
    position: relative;
  }
}

.menu {
  margin-left: 10px;
  outline: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  
  user-select: none;
  transition: background 0.15s ease-out;
  
  padding: 10px;
  margin: 10px;
}

.menu:hover {
  background: #ffffff09;
}

.menu:active {
  background: #ffffff33;
}

.siteTitle {
  padding-right: 20px;
}
</style>
