<vue-gwt:import class="nl.yogh.gwt.wui.accounting.context.AccountingContext.AccountInformationHandle"/>
<vue-gwt:import class="nl.yogh.gwt.wui.covid.context.VirusContext.DataType" />

<div class="outerContainer">
  <div class="container" :class='map("active", active)'>
    <h2>Menu</h2>
    <hr class="horizontalOnly" />
    
    <navigation-item v-for="ApplicationPlace place in items"
      :place="place"
      :activePlace="activePlace"
      @select="visitPlace(place)">
      <div v-if='place.getClass().getSimpleName().equals("MapPlace")'>
        <p v-for="DataType type in DataType.activeValues()"
           class="subItem"
           @click="selectDataType(type)"
           :class='map("active", activeType == type)'>
          {{ i18n.classifier(type) }}
        </p>
      </div>
    </navigation-item>
    
    <hr class="horizontalOnly" />
    
    <div style="flex-grow:1;" />
    
    <navigation-item v-for="ApplicationPlace place in secondary"
      :place="place"
      :activePlace="activePlace"
      @select="visitPlace(place)">
    </navigation-item>
  </div>
</div>

<style scoped lang="scss">
.subItem {
  cursor: pointer;
  margin: 0px;
  padding: 10px;
  transition: background 0.1s ease-out, color 0.1s ease-out, padding 0.1s ease-out;
  user-select: none;
  
  &:hover {
    color: white;
    padding-left: 15px;
    background: rgba(0,0,0,0.2);
  }
  &:active, &.active {
    color: white;
    padding-left: 15px;
    background: rgba(0,0,0,0.3);
  }
}

h2 {
  padding: 0px 20px;
}

hr {
  margin: 0;
}

.horizontalOnly {
}

.outerContainer {
  width: 100%;
}

.container {
  background: #f5f5f5;
  z-index: 2;
  overflow: hidden;
  height: 0px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  
  transition: height 0.15s ease-out;
  
  &.active {
    height: auto;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    cursor: pointer;
    transition: background 0.15s ease-out;
    user-select: none;
    
    .title {
      padding: 0px 10px;
      flex-grow: 1;
    }
    
    .icon {
      padding: 0px 10px;
    }
    
    .check {
      padding: 0px 10px;
      color: green;
    }
  }
}

/** For screens larger than 800px **/
@media (min-width: 400px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    height: calc(100% - 44px) !important;
    max-width: 80vw;
    width: 0px;
    transition: width 0.15s ease-out, opacity 0.01s ease 0.4s;
  
    box-shadow: 0px 5px 5px #8888;
    opacity: 0;
    
    &.active {
      opacity: 1;
      width: 340px;
      transition: width 0.15s ease-out;
    }
    
    .horizontalOnly {
      display: block;
      width: 100%;
    }
  }
}
</style>