<div>
  <div :style="activeStyle" class="item" @click="select()">
    <mat-icon class="icon">{{ i18n.placeIcon(place.getClass().getSimpleName()) }}</mat-icon>
    <p class="title">{{ i18n.placeTitle(place.getClass().getSimpleName()) }}</p>
  </div>
  <slot></slot>
</div>

<style scoped lang="scss">
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
  transition: background 0.15s ease-out;
  user-select: none;
  
  .title {
    padding: 0px 10px;
    flex-grow: 1;
  }
  
  .icon {
    padding: 0px 10px;
  }
  
  .check {
    padding: 0px 10px;
    color: green;
  }
  
  &.active {
    background: rgba(0,0,0,0.1);
  }
  &:hover {
    background: rgba(0,0,0,0.2);
  }
  &:active {
    background: rgba(0,0,0,0.25);
  }
}
</style>