/** CUSTOM CONTROLS **/
.ol-zoom {
  top: 70px;
  right: 27px;
}
.ol-zoomslider {
  top: 97px;
  right: 27px;
  height: 120px;
  background-color: rgba(255,255,255,0.6);
}
.ol-mouse-position {
  position: absolute;
  bottom: 20px;
  right: 27px;
}

.ol-viewport, .ol-unselectable {
  -webkit-tap-highlight-color: rgba(240, 235, 226, 0);
}

.ol-zoom button {
  cursor: pointer;
}

.ol-control button {
  display: block;
  padding: 0;
  font-size: 1.14em;
  font-weight: 700;
  text-align: center;
  height: 25px;
  width: 25px;
  outline: 0;
  line-height: .4em;
  background-color: rgba(255,255,255,0.6);
  color: #575757;
  border: 1px solid #b3b3b3;
  box-sizing: content-box;
  
  transition: background 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out;
}

.ol-control button:focus, .ol-control button:hover {
  background: #1c76bc !important;
  color: white;
  border-color: #1c76bc !important;
}

.ol-zoomslider::before {
  content: '';
  position: absolute;
  border-right: 1px solid #b3b3b3;
  width: 14px;
  height: 120px;
}

.ol-zoom-out {
  margin-top: 120px;
}

.ol-zoomslider-thumb {
  position: relative;
  cursor: move;
  cursor: grab;
  background: white !important;
}

.ol-control {
  position: absolute;
}