<vue-gwt:import class="nl.yogh.covid.domain.IndexedCasesDistributionSet" />
<vue-gwt:import class="nl.yogh.covid.domain.IndexedHospitalisationDistributionSet" />
<vue-gwt:import class="nl.yogh.covid.domain.IndexedFatalityDistributionSet" />
<vue-gwt:import class="nl.yogh.gwt.wui.covid.context.VirusContext.DataType" />
<vue-gwt:import class="java.lang.Double" />

<div class="container">

  <div v-if="actualDate != null" class="date">
    <div style="display:flex;align-items:center;cursor:pointer;">  
      <div style="color:orange;height:28px;padding-right:5px;user-select:none;">
        <div v-if="playDelayActive" style="position:relative;" @click="playDelayActive = false">
          <mat-icon class="control" style="font-size:42px;line-height:38px;">replay</mat-icon>
          <div style="position: absolute;top:14px;right:15px;font-size: 0.6em;">{{ playDelayRemaining }}</div>
        </div>
        <mat-icon @click="play = !play" v-if="!play && !playDelayActive" style="font-size:36px;" class="control">play_circle_filled</mat-icon>
        <mat-icon @click="play = !play" v-if="play && !playDelayActive" style="font-size:36px;" class="control">pause_circle_filled</mat-icon>
      </div>
      <h1>{{ actualDate }}</h1>
    </div>
    <h2 class="cases">{{ i18n.classifier(virusContext.getActive()) }}: {{ toLocaleString(actualCases) }} <span class="deprioritize" v-if="!actualGrowth.isEmpty()">({{ actualGrowth, actualAbsoluteGrowth }})</span></h2>
    <h3 class="cases" style="display:flex;align-items:center;" v-if="municipalityInfo != null"><mat-icon v-if="selectedMunicipality != null">lock</mat-icon>{{ municipalityInfo.name() }}: {{ selectedCases }} <span class="deprioritize" v-if="!selectedGrowth.isEmpty()">({{ selectedGrowth }}, {{ selectedAbsoluteGrowth}})</span></h3>
    <p class="populationSubtitle" v-if="municipalityInfo != null">Inwoners: <span>{{ toLocaleString(municipalityInfo.population()) }} ({{ toFixed((Double.parseDouble(selectedCases) / (municipalityInfo.population() / 100000D)), 1) }} / {{ toLocaleString(100000) }})</span></p>
  </div>
  
  <div v-show="infoVisible" class="info">
    <mat-icon class="icon">contact_support</mat-icon>
    <p class="text">Het RIVM is helaas gestopt met het publiceren van de dagelijkse actuele getallen. Hierdoor is het onmogelijk voor deze tracker om actuele visualisaties weer te geven, en lijkt het erop dat 15 juni de laatste dataset zal zijn. Wij hopen dat het RIVM de gegevens retrospectievelijk zal verstrekken, en weer dagelijks actuele gegevens zal publiceren.</p>
    <p class="close" @click="infoVisible = false">X</p>
  </div>
  
  <div :class='map("active", settingsVisible)' class="options">
    <div class="optionsHeader">
      <h2>Datasets</h2>
      <mat-icon @click="settingsVisible = !settingsVisible" class="close">close</mat-icon>
    </div>
    <div v-if="!hasData && error == null" class="loading"> 
      <img src="/res/loading.gif" />
      <p>Meest recente datasets aan het inladen...</p>
    </div>
    <div v-if="error != null" class="error"> 
      <p>Er is een fout opgetreden: {{ error }}</p>
    </div>
    <div v-if="hasData" :class='map("playing", play)' class="carousel">
      <p @click="play = !play">Automatisch afspelen</p>
      <div class="intervals" style="display:flex;" @click="play = true">
        <span @click="decreaseInterval()" class="interv">-</span>
        <span class="interval">{{ timeInterval / 1000D }}s</span>
        <span @click="increaseInterval()" class="interv">+</span>
      </div>
      <div @click="play = !play">
        <mat-icon v-if="!play" class="control">play_circle_filled</mat-icon>
        <mat-icon v-if="play" class="control">pause_circle_filled</mat-icon>
      </div>
    </div>
    <div class="items">
      <div @click="selectHospDataset(dataset)" v-if="isActive(DataType.CUMULATIVE_HOSPITALISATIONS)" class="item" :class='map("active", isHospActive(dataset))'
           v-for="IndexedHospitalisationDistributionSet dataset in virusContext.getHospitalisationDistributionData()">
        <p :title="dataset.source()" class="dataset">{{ formatDate(dataset.date()) }}<span class="background">{{dataset.source()}}</span></p>
      </div>
      <div @click="selectActiveHospDataset(dataset)" v-if="isActive(DataType.ACTIVE_HOSPITALISATIONS)" class="item" :class='map("active", isHospActive(dataset))'
           v-for="IndexedHospitalisationDistributionSet dataset in virusContext.getHospitalisationDistributionData()">
        <p :title="dataset.source()" class="dataset">{{ formatDate(dataset.date()) }}<span class="background">{{dataset.source()}}</span></p>
      </div>
      <div @click="selectCasesDataset(dataset)" v-if="isActive(DataType.CUMULATIVE_CASES)"  class="item" :class='map("active", isCasesActive(dataset))'
           v-for="IndexedCasesDistributionSet dataset in virusContext.getCasesDistributionData()">
        <p :title="dataset.source()" class="dataset">{{ formatDate(dataset.date()) }}<span class="background">{{dataset.source()}}</span></p>
      </div>
      <div @click="selectActiveCasesDataset(dataset)" v-if="isActive(DataType.ACTIVE_CASES)" class="item" :class='map("active", isCasesActive(dataset))'
           v-for="IndexedCasesDistributionSet dataset in virusContext.getCasesDistributionData()">
        <p :title="dataset.source()" class="dataset">{{ formatDate(dataset.date()) }}<span class="background">{{dataset.source()}}</span></p>
      </div>
      <div @click="selectFatlDataset(dataset)" v-if="isActive(DataType.CUMULATIVE_FATALITIES)" class="item" :class='map("active", isFatlActive(dataset))'
           v-for="IndexedFatalityDistributionSet dataset in virusContext.getFatalityDistributionData()">
        <p :title="dataset.source()" class="dataset">{{ formatDate(dataset.date()) }}<span class="background">{{dataset.source()}}</span></p>
      </div>
      
      <button v-if="hasData" @click="loadAll()">Laad alle data sets in</button>
    </div>
  </div> 
  
  <ol3-map class="map" ref="map" :eventBus="eventBus"></ol3-map>
</div>

<style scoped lang="scss">
.error {
  margin: 5px;
  background: #a00;
  color: white;
  padding: 10px;
}

.closeInfo {
  align-self: flex-start;
  cursor: pointer;
  transition: color 0.1s ease;
  
  &:hover {
    color: red;
  }
}

.cases {
    display: flex;
    align-items: center;
    
  .deprioritize {
    margin-left: 5px;
    font-size: 0.6em;
  }
}


.map {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(240, 235, 226, 0);
}
.populationSubtitle {
  font-size: 0.8em;
}
.intervals {
  display: flex;
  align-self: stretch;
  align-items: center;
  background: #fff8;
  
  .interval {
    width: 30px;
    text-align: center;
  }
  
  .interv {
    padding: 0px 10px;
    line-height: 42px;
    transition: background 0.1s ease; 
    
    &:hover, &.active {
      background: #ffa50033;
      font-weight: bold;
    }
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-left: 0px solid orange;
  border-right: 0px solid orange;
  user-select: none;
  
  cursor: pointer;
  
  transition: background 0.15s ease-out, border 0.15s ease-out;
  
  &:hover {
    background: rgba(0,0,0,0.2);
  }
  
  &.playing {
    background: #ffa50088;
    border-left: 5px solid orange;
    border-right: 5px solid orange;
  }
}

.control {
  font-size: 24px;
  
  &:hover {
    color: orange;
  }
}

.container {
  flex-grow: 1;
  position: relative;
}

.optionsHeader {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  background: #f5f5f5;
}

.date {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #f5f5f588;
  padding: 20px;
  font-size: 1.5em;
}

.info {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 400px;
  height: 120px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  box-shadow: 0 5px 5px #8888;
  background: #f5f5f5ee;
  max-width: 80vw;
  border: 1px solid red;
  
  .text {
    padding: 0px 10px;
  }
  
  .icon {
    color: red;
    
    display: flex;
    align-items: center;
  }
  
  .close {
    cursor: pointer;
    
    &:hover {
      color: red;
    }
  }
}

.options {
  z-index: 1;
  width: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  box-shadow: 0 5px 5px #8888;
  background: #f5f5f5ee;
  max-width: 80vw;
  overflow: auto;
  transition: width 0.15s ease-out;
  
  &.active {
    width: 340px;
  }
  
  .close {
    cursor: pointer;
    
    &:hover {
      color: orange;
    }
  }
  
  .loading {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 20px;
    
    p {
      padding: 0px;
      margin: 0px;
    }
    
    img {
      width: 48px;
      height: 48px;
      padding-right: 20px;
    }
  }
  
  .items {
    border-top: 1px solid #8888;
    display: flex;
    flex-direction: column-reverse;
  
    .item {
      user-select: none;
      padding: 0px 20px;
      cursor: pointer;
      border-bottom: 1px solid #8888;
      transition: background 0.15s ease-out, color 0.15s ease-out;
      
      .dataset {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .background {
          font-size: 0.8em;
          color: gray;
          font-weight: normal;
        }
      }
      
      .wid {
        font-family: "Lucida Console", Monaco, monospace;
      }
      
      &.active {
        background: orange !important;
        color: white !important;
        font-weight: bold;
        cursor: default;
        
        .background {
          color: #333;
        }
      }
      
      &:hover {
        background: #ffcd71;
        color: black;
      }
      &:active {
        background: rgba(0,0,0,0.25);
      }
    }
  }
}
</style>